// font size
$root-font-size: 1rem;
$font-size-xxs: 0.5em;
$font-size-xs: 0.75em;
$font-size-s: 0.8em;
$font-size-normal: 1em;
$font-size-l: 1.2em;
$font-size-xl: 1.25em;
$font-size-xxl: 1.5em;
$font-size-xxxl: 2em;
$font-size-mega: 4em;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-lite: 300;
$font-weight-ultra-lite: 100;

$default-fonts: Roboto,
Open Sans,
sans-serif;
$control-height: 2.5em;
$border-radius: 3px;

$root-xs: 10px;
$root-s: 12px;
$root-normal: 16px;

// colors
$white: #ffffff;
$lighter-grey: #eeeeee;
$light-grey: #ebebeb;
$grey: #cccccc;
$dark-grey: #666666;
$darker-grey: #333333;
$darkest-grey: #2b2b2b;
$red: #a43132;
$bright-red: #dc2c2d;
$blue: #236bc4;
$frosted-blue: rgba(35, 107, 196, .75);
$light-blue: #5da0f3;
$brown: #6A462C;
$dark-brown: #1c130e;
$black: #000000;
$green: #34b613;
$main-icon-color: #657686;
$transparent-grey: rgba(204, 204, 204, 0.5);

$primary-color: #000000;
$accent-color: #cccccc;

$grey-filter: brightness(0) saturate(100%) invert(31%) sepia(11%) saturate(466%) hue-rotate(136deg) brightness(96%) contrast(84%);
$mid-grey-filter: invert(77%) sepia(1%) saturate(0%) hue-rotate(35deg) brightness(340%) contrast(85%);
$light-grey-filter: grayscale(1) brightness(1.35);
$white-filter: brightness(0) invert(1);
