<div #contentMain
     class="content-main"
     [class.animate]="initialized"
     [style.top]="calculateTop(contentMain)">
  <div class="content-box">
    <ul>
      <li *ngFor="let discovery of discoveries">
        <div>
          <a [routerLink]="['/', appService.idHunt, discovery.id]"
             (click)="onToggleDiscoveries(false)">
            {{discovery.name}}
          </a>
        </div>
      </li>
    </ul>

    <qf-button [style]="QFButtonStyle.FREESTYLE"
               (clicked)="onToggleDiscoveries(!showDiscoveries)"
               class="open-qf-button">
      <fa-icon [icon]="['fas', 'book']"
               class="icon">
      </fa-icon>
      <div>{{showDiscoveries ? 'Hide&nbsp;Your&nbsp;Discoveries' : 'View&nbsp;Your&nbsp;Discoveries'}}</div>
    </qf-button>
  </div>
</div>
