@import "../../styles/common";

:host {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: $white;

  qf-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    fa-icon {
      margin-right: 1em;
    }
  }

  .content-main {
    position: fixed;
    width: 100%;

    &.animate {
      transition: top 1s ease;
    }
  }

  .content-main:before,
  .content-main:after {
    content: "";
    height: 0;
    width: 100%;
    top: 0;
    position: absolute;
    transform: rotate(90deg);
    -webkit-clip-path: polygon(0% 0%, 5% 100%, 10% 0%, 15% 100%, 20% 0%, 25% 100%, 30% 0%, 35% 100%, 40% 0%, 45% 100%, 50% 0%, 55% 100%, 60% 0%, 65% 100%, 70% 0%, 75% 100%, 80% 0%, 85% 100%, 90% 0%, 95% 100%, 100% 0%);
  }

  .content-main:before {
    background-color: #eee;
    left: -50%;
  }

  .content-main:after {
    background-color: #fff;
    right: -50%;
  }

  .content-main .content-box {
    height: auto;
    overflow: hidden;
    padding: 0 1em .5em 1em;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  }

  .content-main .content-box:before,
  .content-main .content-box:after {
    content: "";
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(0% 0%, 5% 100%, 10% 0%, 15% 100%, 20% 0%, 25% 100%, 30% 0%, 35% 100%, 40% 0%, 45% 100%, 50% 0%, 55% 100%, 60% 0%, 65% 100%, 70% 0%, 75% 100%, 80% 0%, 85% 100%, 90% 0%, 95% 100%, 100% 0%);
  }

  .content-main .content-box:before {
    background-color: #eee;
    top: 0;
  }

  .content-main .content-box:after {
    background-color: #fff;
    bottom: -2px;
  }

  ul {
    position: relative;
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1em 0 1em 2em;
      border-left: unset;
    }
  }
}
