<div class="footer-content">
  <div class="qr-logo">
    <img src="./assets/qr-logo.svg">
    <div>Scavenger Games</div>
  </div>

  <div class="footer-links">
    <ul>
      <li class="header">Product</li>
      <li><a routerLink="/">About</a></li>
      <li><a routerLink="sign-up">Sign-Up</a></li>
    </ul>
    <ul>
      <li class="header">Resources</li>
      <li><a routerLink="support">Support</a></li>
    </ul>
    <ul>
      <li class="header">Policies</li>
      <li><a routerLink="terms">Terms</a></li>
      <li><a routerLink="privacy">Privacy</a></li>
    </ul>
  </div>
</div>
