<div class="footer-content">
  <div class="qr-logo">
    <img src="./assets/qr-logo.svg">
    <div>Scavenger Games</div>
  </div>

  <div class="footer-links">
    <li>
      <ul class="header">Product</ul>
      <ul><a routerLink="/">About</a></ul>
      <ul><a routerLink="sign-up">Sign-Up</a></ul>
    </li>
    <li>
      <ul class="header">Resources</ul>
      <ul><a routerLink="support">Support</a></ul>
    </li>
    <li>
      <ul class="header">Policies</ul>
      <ul><a routerLink="terms">Terms</a></ul>
      <ul><a routerLink="privacy">Privacy</a></ul>
    </li>
  </div>
</div>
