@import "../../styles/common";

:host {
  width: 16em;
  height: 16em;

  .main-icon {
    position: absolute;
    bottom: .25em;
    right: .25em;
    display: block;
    font-size: 8em;
    transform: rotate(-35deg);
    color: $main-icon-color;
  }

  .qr {
    position: absolute;
    top: .5em;
    left: 1em;
    display: block;
    font-size: 3.5em;
    color: $black;
  }
}
