@import "../../styles/common";

:host {
  .map {
    display: block;
    font-size: 8em;
    margin: 0.5em 0.25em 0.25em 0.55em;
    transform: rotate(-30deg);
    color: $brown;
  }

  .qr {
    position: absolute;
    top: .5em;
    left: 1em;
    display: block;
    font-size: 3.5em;
    color: $black;
  }
}
