<h1>Terms of Service</h1>

<p>
  Please read these Terms of Service ("Terms", "Terms of Service", "Terms and Conditions") carefully before using
  Scavenger Games
  (<a routerLink="/">www.scavenger.games</a>, the "Service") operated by Brian Martinson ("us", "we", "our", "Sg", or
  "Scavenger Games"), an independent software engineer.
</p>
<p>
  Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These
  Terms apply to all visitors, users, and others who access or use the Service.
</p>
<p>
  By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms,
  then you may not access the Service.
</p>

<h3>Eligibility and Account Registration</h3>
<p>
  Accessing the Service does not require account registration, nor do we collect any information from any person(s) who
  use the Service under the role of visitor or Scavenger Hunt Player.
</p>
<p>
  In order to access the full feature-set of the Service and create and host Scavenger Hunts, you will need to create
  and Account and become a Member. If you are under the age of 13, you must have your parent or legal guardian create an
  Account on your behalf.
</p>
<p>
  You are responsible for safeguarding your Service account username and password. Scavenger Games is not
  responsible or liable for any activites and actions under your Account.
</p>

<h3>Privacy</h3>
<p>
  All personal information that you provide is subject to our Privacy Policy (<a
     routerLink="/privacy">www.scavenger.games/privacy</a>),
  which governs our collection and use of your personal information. You understand that through your use of the Service
  you consent to the collection and use (as set forth in the Privacy Policy) of this information. As part of providing
  you the Service, we may need to provide you with certain communications, such as service announcements and
  administrative messages. These communications are considered part of the Service and your Account, which you may not
  be able to opt-out from receiving.
</p>

<h3>General Prohibitions</h3>
<p>You agree not to do any of the following while using the Service:</p>
<ul>
  <li>Modify, adapt, copy, alter, make derivative works of, attempt to decipher, decompile, disassemble or reverse
    engineer any portion of the Service;</li>
  <li>Violate any applicable law or regulation, including, without limitation, privacy laws, export laws, and the Child
    Online Privacy Protection Act;</li>
  <li>Collect or store any personally identifiable information from the Service from other users of the Service without
    their express permission;</li>
  <li>Access, tamper with, or use non-public areas of the Service, Scavenger Games' computer systems, or the technical
    delivery
    systems or any technological measure implemented by Scavenger Games or Scavenger Games' providers to protect the
    Service;</li>
  <li>Attempt to access or search the Service through the use of any engine, software, tool, agent, device or mechanism
    (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents
    provided by Scavenger Games or other generally available third party web browsers;</li>
  <li>Interfere with, or attempt to interfere with, the access of any user, host or network, including, without
    limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Service; or</li>
  <li>Encourage or enable any other individual to do any of the foregoing.</li>
</ul>
<p>Scavenger Games will have the right to investigate and prosecute violations of any of the above, to the fullest
  extent of the
  law. Scavenger Games may involve and cooperate with law enforcement authorities in prosecuting users who violate these
  Terms.
  You acknowledge that Scavenger Games has no obligation to monitor your access to or use of the Service, but has the
  right to do
  so for the purpose of operating the Service, to ensure your compliance with these Terms, or to comply with applicable
  law or the order or requirement of a court, administrative agency or other governmental body.</p>

<h3>Termination</h3>
<p>
  Scavenger Games may terminate or suspend access to our Service immediately, without prior
  notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
</p>
<p>
  All provisions of the Terms which by their nature should survive termination shall survive termination, including,
  without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
</p>

<h3>Disclaimers</h3>
<p>
  The Service is provided on an "AS IS" and "AS AVAILABLE" basis, WITHOUT WARRANTY OF
  ANY KIND, EXPRESS OR IMPLIED. Without limiting the foregoing, Scavenger Games EXPLICITLY DISCLAIMS ANY WARRANTIES OF
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT
  OF COURSE OF DEALING OR USAGE OF TRADE.
</p>
<p>
  Scavenger Games makes no warranty that the Service will meet your requirements or be available on an uninterrupted,
  secure, or
  error-free basis. Scavenger Games makes no warranty regarding the quality of any products or Service purchased or
  obtained
  through the Service or any third party site. No advice or information, whether oral or written, obtained from
  Scavenger Games or
  through the Service, will create any warranty not expressly made herein. You are solely responsible for all of your
  communications and interactions with other users of the Service and with other persons with whom you communicate or
  interact as a result of your use of the Service. Scavenger Games makes no representations or warranties as to the
  conduct of
  users of the Service or their compatibility with any current or future users of the Service.
</p>

<h3>Indemnity</h3>
<p>
  If you are a user of the Service, you agree to defend, indemnify, and hold Scavenger
  Games and
  School and their officers, directors, employees and agents, harmless from and against any claims, liabilities,
  damages, losses, and expenses, including, without limitation, reasonable legal fees, arising out of or in any way
  connected with your access to or use of the Service, or your violation of these Terms, including any claims that your
  Content infringes or violates any proprietary right of a third party If you are a School, you agree to defend,
  indemnify, and hold Scavenger Games and its officers, directors, employees and agents, harmless from and against any
  claims,
  liabilities, damages, losses, and expenses, including, without limitation, reasonable legal fees, arising out of or in
  any way connected with your or your students’ access to or use of the Service, or your or your students’ violation of
  these Terms, including any claims that your or your students’ Content infringes or violates any proprietary right of a
  third party.
</p>

<h3>Limitation of Liability</h3>
<p>
  TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ENTIRE RISK ARISING OUT OF
  YOUR ACCESS TO AND USE OF THE SERVICE AND CONTENT REMAINS WITH YOU. SCAVENGER GAMES WILL NOT BE LIABLE FOR ANY DIRECT,
  INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOSS OF DATA, SERVICE INTERRUPTION, COMPUTER DAMAGE
  OR SYSTEM FAILURE, OR FOR ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS ARISING OUT OF OR IN
  CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICE, OR FROM ANY COMMUNICATIONS,
  INTERACTIONS OR MEETINGS WITH OTHER USERS OF THE SERVICE OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A
  RESULT OF YOUR USE OF THE SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER
  LEGAL THEORY, AND WHETHER OR NOT SCAVENGER GAMES HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A
  LIMITED REMEDY
  SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
</p>

<h3>Exclusions</h3>
<p>
  Some jurisdictions do not allow the exclusion of certain warranties or the exclusion
  or limitation of liability for consequential or incidental damages, so the above limitation may not apply to you.
</p>

<h3>Controlling Law and Jurisdiction</h3>
<p>
  These Terms and any action related thereto will be governed by
  the laws of the State of California without regard to its conflict of laws provisions. The exclusive jurisdiction and
  venue of any action with respect to the subject matter of these Terms will be the federal or state courts located in
  the Northern District of California and each of the parties hereto consents to the personal jurisdiction and venue in
  such courts.
</p>

<h3>Waiver and Severability</h3>
<p>
  The failure of Scavenger Games to enforce any right or provision of these Terms
  will not constitute a waiver of future enforcement of that right or provision. If for any reason a court of competent
  jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the
  maximum extent permissible and the other provisions of these Terms will remain in full force and effect.
</p>

<h3>Entire Agreement</h3>
<p>
  These Terms and the Privacy Policy constitute the entire and exclusive
  understanding and agreement between Scavenger Games and you regarding the Service, and supersede and replace any and
  all prior
  oral or written understandings or agreements between Scavenger Games and you regarding the Service.
</p>

<h3>Modification</h3>
<p>
  Scavenger Games reserves the right, at its sole discretion, to modify, discontinue or
  terminate the Service or to modify these Terms, at any time and without prior notice. If we modify these Terms, we
  will post the modification on the Service or provide you with notice of the modification. We will also indicate when
  such terms are effective at the top of the page. By continuing to access or use the Service after we have posted a
  modification or have provided you with notice of a modification, you are indicating that you agree to be bound by the
  modified Terms. If the modified Terms are not acceptable to you, your only recourse is to cease using the Service.
</p>
<p>
  The Service is owned and operated by Brian Martinson from Livermore, California, USA. If you
  have any questions about these Terms, please contact Scavenger Games <a href="mailto:help@scavenger.games">via
    email</a>.
</p>
