<h1>Fun is on the way</h1>

<p>
  Check back soon!
</p>

<p>
  We're mostly focusing our efforts on end-user game play and API services to support the management tools that will be
  built so. We'll then also add in some information about how Scavenger Games works in a nice marketing page here. Feel
  free to check in on our progress on <a href="https://www.github.com/bmartinson/scavenger">GitHub</a> in the meantime
  or <a href="help@scavenger.games">contact us</a> to help get an early form of our game hosted for you to help us build
  the best experience possible!
</p>
