<h1>Fun is on the way</h1>

<p>
  Check back soon!
</p>

<p>
  We're mostly focusing our efforts on end-user game play and API services to support the management tools that will be
  built here soon, right now. For the time being, things might look a little sparse from this view. Feel
  free to check in on our progress on <a href="https://www.github.com/bmartinson/scavenger">GitHub</a> in the meantime
  or <a href="help@scavenger.games">contact us</a> to help get an early form of our game hosted for you and help us
  build the best experience possible!
</p>
