@import "../../styles/common";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  >* {
    position: absolute;
  }

  .animate {
    opacity: 1;
    transform: scale(0.5);
    top: 0em;
    animation-delay: 2s;
    animation: fadeIn ease 2s, shrinkUp ease 3s;
  }

  ul,
  ol {
    list-style-type: decimal;
  }

  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 13em;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem 0;

      img {
        width: 95%;
        height: auto;
      }
    }

    .clues-header,
    .clues-footer {
      position: relative;
      display: block;
      background-color: green;
      width: 100%;
      height: .25rem;
    }

    .clues-header {
      margin-top: 1rem;
    }

    .clues-section {
      display: flex;
      flex-direction: column;
      color: $white;
      background-color: $green;
      width: 100%;
      border-bottom: 1px dashed $white;
      border-top: 1px dashed $white;

      h2 {
        color: $white;
        margin-bottom: unset;
      }

      .clues {
        display: flex;
        flex-direction: row;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1em;

          fa-icon {
            font-size: 4rem;
          }
        }

        ul {
          counter-reset: item;
          margin: 0;
          padding-left: 0;
          width: 100%;
        }

        ul>li {
          counter-increment: item;
          list-style: none inside;
          margin: 1em 0;
          overflow: hidden;
          font-size: 1em !important;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-right: .5em;
        }

        ul>li:before {
          content: counter(item);
          margin-right: 1rem;
          display: block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          min-width: 2.5rem;
          font-size: 1.5rem;
          padding: .25em 0;
          background: $white;
          color: $green;
          text-align: center;
          float: left;
        }
      }
    }
  }

  vg-player {
    z-index: 0;
  }

  vg-volume {
    margin-right: 1rem;
  }
}
