<scavenger-icon-holder class="animate">
  <scavenger-qr-find [waypointStatus]="waypointStatusIcon"></scavenger-qr-find>
</scavenger-icon-holder>

<h1 [@inOutAnimation]
    *ngIf="showTitle"
    [innerHTML]="title">
</h1>

<div [@inOutAnimation]
     *ngIf="showContent"
     class="content">
  <h2 [innerHTML]="subtitle"></h2>

  <ng-container *ngIf="isWrongHunt">
    <p>
      You found a waypoint that belongs to a different scavenger hunt than the one you are already playing! Go back and
      check your clues to make sure you stay on the right trail!
    </p>

    <p>
      Do you want to quit the hunt you were already playing?
    </p>

    <qf-button [style]="QFButtonStyle.FREESTYLE"
               (clicked)="onResetGame(false)">
      <fa-icon [icon]="['fas', 'undo']"
               class="icon">
      </fa-icon>
      &nbsp;
      <a>Reset Game</a>
    </qf-button>
  </ng-container>

  <ng-container *ngIf="isOutOfOrder">
    <p *ngIf="isUnorderedHunt; else orderedHuntOutOfOrder">
      You found a scavenger hunt waypoint for a hunt that you didn't start! Please scan the starting waypoint to start
      your adventure!
    </p>
    <ng-template #orderedHuntOutOfOrder>
      <p>
        You found the wrong waypoint! Double check any previous clues you've discovered and use them to visit all of the
        waypoints leading to this one! Only then can you unlock this waypoint!
      </p>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="!isOutOfOrder && !isWrongHunt">
    <h1>{{waypoint?.name}}</h1>
    <div [innerHTML]="waypoint?.description"></div>
    <div
         *ngIf="(waypoint?.interactiveType === 'audio' || waypoint?.interactiveType === 'video') && waypoint?.interactiveSrc">
      <vg-player>
        <vg-overlay-play *ngIf="waypoint?.interactiveType === 'video'"></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>

          <vg-time-display vgProperty="current"
                           vgFormat="mm:ss"></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen *ngIf="waypoint?.interactiveType === 'video'"></vg-fullscreen>
        </vg-controls>

        <audio *ngIf="waypoint?.interactiveType === 'audio'"
               [vgMedia]="audioMedia"
               #audioMedia
               id="interactiveAudio"
               preload="auto"
               [autoplay]="true"
               crossorigin>
          <source [src]="waypoint?.interactiveSrc">
        </audio>
        <video *ngIf="waypoint?.interactiveType === 'video'"
               [vgMedia]="media"
               #media
               id="interactiveVideo"
               preload="auto"
               [autoplay]="waypoint?.interactiveType === 'audio'"
               crossorigin>
          <source [src]="waypoint?.interactiveSrc">
        </video>
      </vg-player>
    </div>
    <div *ngIf="waypoint?.interactiveType === 'image'"
         class="image-container">
      <img [src]="waypoint?.interactiveSrc">
    </div>

    <ng-container *ngIf="waypoint?.clues?.length > 0">
      <div class="clues-header"></div>

      <div class="clues-section">
        <h2>Your Next Clues</h2>
        <div class="clues">
          <div class="icon">
            <fa-icon [icon]="['fas', 'hiking']">
            </fa-icon>
          </div>
          <ul>
            <li *ngFor="let clue of waypoint.clues">{{clue}}</li>
          </ul>
        </div>
      </div>

      <div class="clues-footer"></div>
    </ng-container>

  </ng-container>

</div>
