<scavenger-icon-holder class="animate">
  <scavenger-qr-find [waypointStatus]="waypointStatus"></scavenger-qr-find>
</scavenger-icon-holder>

<h1 [@inOutAnimation]
    *ngIf="showTitle"
    [innerHTML]="title">
</h1>

<div [@inOutAnimation]
     *ngIf="showContent"
     class="content">
  <h2 [innerHTML]="subtitle"></h2>

  <p *ngIf="isOutOfOrder">
    You found the wrong waypoint! Double check any previous clues you've discovered and use them to visit all of the
    waypoints leading to this one! Only then can you unlock this waypoint!
  </p>

  <p *ngIf="!isOutOfOrder">
    Some interactive content will be available here.
  </p>

</div>
