
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"

# Options Indexes FollowSymLinks
Options FollowSymLinks
# AllowOverride all
Require all granted

DirectoryIndex index.html

#
# Enable the RewriteEngine
#
RewriteEngine on

#
# Enforce WWW Traffic
#
RewriteCond %{HTTP_HOST} ^scavenger.games [NC]
RewriteRule ^(.*)$ http://www.scavenger.games/$1 [L,R=301,NC]

#
# Enforce HTTPS Traffic
#
RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://www.scavenger.games/$1 [R=301,L]

#
# API RewriteRules
#
RewriteRule ^api/health-check/?$ /api/utility/health-check.php [QSA,NC,L]
RewriteRule ^api/authorize/?$ /api/authorize.php [QSA,NC,L]
RewriteRule ^api/user/?$ /api/user.php [QSA,NC,L]
RewriteRule ^api/hunt/?$ /api/hunt.php [QSA,NC,L]
RewriteRule ^api/hunts/?$ /api/hunts.php [QSA,NC,L]
RewriteRule ^api/(.*)$ http://www.scavenger.games/ [L,R=301,NC]

#
# Correctly navigate to the index file to use Angular routing
#
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/assets/(.+)$
RewriteRule ^(.*)$ /index.html [QSA,NC,L]

#
# Error Document
# Fall back to angular routing by default
#
ErrorDocument 404 /index.html
