RewriteEngine On

#
# Enforce WWW Traffic
#
RewriteCond %{HTTP_HOST} ^scavenger.games [NC]
RewriteRule ^(.*)$ http://www.scavenger.games/$1 [L,R=301,NC]

#
# Enforce HTTPS Traffic
#
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.scavenger.games/$1 [R,L]

#
# API RewriteRules
#
# RewriteRule ^api/health-check/?$ /api/utility/health-check.php [NC,L]
# RewriteRule ^api/health-check.json/?$ /api/utility/health-check.php?json=1 [QSA,NC,L]
