<div class="banner-bg">
  <a routerLink="/"
     class="ribbon">
    <span class="ribbon-inner">SG</span>
  </a>

  <ul>
    <li>
      <a routerLink="/"
         [class.viewing]="appService.url === ''">
        About
      </a>
    </li>
    <li [scavengerSubNavigation]="accountSubNav"
        [scavengerSubNavigationDisabled]="!appService.isLoggedIn">
      <a routerLink="/account"
         [class.viewing]="appService.url === 'account' || appService.url === 'sign-in'">
        Account
      </a>
    </li>
  </ul>
</div>

<div #accountSubNav
     class="sub-nav">
  <ul>
    <li>
      <a routerLink="/account/hunts">
        Manage Hunts
      </a>
    </li>
    <li>
      <a routerLink="/account/info">
        Your Info
      </a>
    </li>
    <li>
      <a href="#"
         (click)="appService.signOut()">
        Sign Out
      </a>
    </li>
  </ul>
</div>
