<div class="banner-bg">
  <a routerLink="/"
     class="ribbon">
    <span class="ribbon-inner">SG</span>
  </a>

  <ul>
    <li>
      <a routerLink="/"
         [class.viewing]="appService.url === ''">
        About
      </a>
    </li>
    <li>
      <a routerLink="/account"
         [class.viewing]="appService.url === 'account' || appService.url === 'sign-in'">
        Account
      </a>
    </li>
    <li *ngIf="appService.isLoggedIn">
      <a href="#"
         (click)="appService.signOut()"
         [class.viewing]="appService.url === 'sign-out'">
        Sign Out
      </a>
    </li>
  </ul>
</div>
